.tag-index-wrap
  margin: block-margin 0

.tag-index-title
  @extend $block-caption

.tag-index
  @extend $block
  overflow: hidden
  padding: 1rem
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline